canvas {
  border: 2px solid black;
  touch-action: none;
}
.h1{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #dc1919;
}
button {
  margin-top: 10px;
  padding: 8px 15px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}
